@media (max-width: 1220px) {
  html {
    font-size: 55%;
  }

  .intro {
    background-image: linear-gradient(105deg, white 50%, #3df83d 50%);
  }

  .intro__text {
    font-size: 1.6rem;
  }

  .nav__logo {
    width: 8rem;
  }

  .project__img {
    height: 30rem;
  }

  .contact__same {
    font-size: 1.8rem;
  }
}

@media (max-width: 905px) {
  html {
    font-size: 53%;
  }

  .header {
    height: 50vh;
  }

  .intro {
    background-image: linear-gradient(105deg, white 50%, #3df83d 50%);
  }

  .intro__text {
    font-size: 1.45rem;
  }

  .nav__logo {
    width: 7rem;
  }

  .about-main {
    gap: 1rem;
  }

  .about-img__working {
    width: 95%;
  }

  .project__img {
    height: 25rem;
  }

  .contact__same {
    font-size: 1.6rem;
  }
}

@media (max-width: 740px) {
  html {
    font-size: 53%;
  }

  .intro__text {
    font-size: 1.1rem;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr;
  }

  .skill-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .project__main {
    grid-template-columns: repeat(2, 1fr);
  }

  .project__img {
    height: 35rem;
  }

  .contact__main {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact__same {
    font-size: 1.8rem;
  }
}

@media (max-width: 740px) {
  .intro__text {
    font-size: 1.1rem;
  }

  .project__img {
    height: 30rem;
  }

  .contact__same {
    font-size: 1.8rem;
  }
}

@media (max-width: 640px) {
  .project__img {
    height: 30rem;
  }

  .intro__text {
    font-size: 1rem;
  }
}


@media (max-width: 530px) {
  html{
    font-size: 50%;
  }

  .header {
    height: 30vh;
  }

  .intro{
    grid-template-columns: .7fr 1.3fr;
  }

  .intro__text {
    font-size: .84rem;
    color: rgb(255, 217, 0);
  }


  .project__img {
    height: 37rem;
  }

  .skill-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .project__main {
    grid-template-columns: repeat(1, 1fr);
  } 

  .contact__main {
    width: 95%;
  }
  .contact__same {
    font-size: 1.6rem;
  }
}

@media (max-width: 350px) {

  .project__img {
    height: 30rem;
  }

  .contact__same {
    font-size: 1.5rem;
  }
}