@media (max-width: 1220px) {
  html {
    font-size: 55%;
    scroll-padding-top: var(--scroll-padding, 70.1px);
  }

  .intro {
    background-image: linear-gradient(105deg, white 50%, #3df83d 50%);
  }

  .intro__text {
    font-size: 1.6rem;
  }

  .nav__logo {
    width: 8rem;
  }

  .project__img {
    height: 30rem;
  }

  .contact__same {
    font-size: 1.8rem;
  }
}

@media (max-width: 905px) {
  html {
    font-size: 53%;
    scroll-padding-top: var(--scroll-padding, 61.6px);
  }

  .intro {
    background-image: linear-gradient(105deg, white 50%, #3df83d 50%);
  }

  .intro__text {
    font-size: 1.3rem;
  }

  .nav__logo {
    width: 7rem;
  }

  .about-main {
    gap: 1rem;
  }

  .about-img__working {
    width: 95%;
  }

  .project__img {
    height: 25rem;
  }

  .contact__same {
    font-size: 1.6rem;
  }
}

@media (max-width: 780px) {
  .project__inside-h1{
    font-size: 1.8rem;
  }

  .contact__main {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 740px) {
  html {
    font-size: 53%;
    scroll-padding-top: var(--scroll-padding, 61.6px);
  }

  .intro__text {
    font-size: 1.25rem;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr;
  }

  .skill-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .project__main {
    grid-template-columns: repeat(2, 1fr);
  }

  .project__img {
    height: 35rem;
  }

  .contact__same {
    font-size: 1.8rem;
  }
}

@media (max-width: 640px) {
  .project__img {
    height: 30rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .intro__img-main .intro-img {
    width: 40%;
  }

  .intro__text {
    font-size: 1.4rem;
    color: #147aff;
  }
}

@media (max-width: 530px) {
  html {
    font-size: 50%;
    scroll-padding-top: var(--scroll-padding, 58.25px);
  }

  .intro__text {
    font-size: 1.4rem;
  }

  .project__img {
    height: 37rem;
  }

  .skill-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .project__main {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact__main {
    width: 95%;
  }
  .contact__same {
    font-size: 1.6rem;
  }
}

@media (max-width: 440px) {
  html {
    font-size: 50%;
    scroll-padding-top: var(--scroll-padding, 79.25px);
  }

  .nav {
    flex-direction: column;
  }
  .intro__img-main .intro-img {
    width: 55%;
  }

  .intro__text {
    font-size: 1.3rem;
  }

  .contact__card-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact__img {
    width: 100%;
  }

  .contact__message{
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 350px) {
  .project__img {
    height: 30rem;
  }

  .contact__main {
    width: 95%;
  }

  .contact__same {
    font-size: 1.4rem;
  }

  .intro__img-main .intro-img {
    width: 55%;
  }

  .intro__text {
    font-size: 1.1rem;
  }
}
