* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: serif;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 87.65px); }

/* Header part */
.header {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s;
  z-index: 1000; }
  .nav__logo {
    width: 10rem; }
  .nav__ul {
    display: flex;
    font-size: 2.2rem;
    gap: 3rem;
    list-style: none; }
  .nav__a:link,
  .nav :visited {
    text-decoration: none;
    transition: all 0.3s;
    color: black; }
  .nav__a:hover {
    color: #006cfa;
    cursor: pointer;
    text-decoration: underline; }

.sticky {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1.4rem 3rem;
  transition: all 0.3s;
  box-shadow: 0px 8px 15px -6px gray; }

@keyframes fromLeft {
  0% {
    transform: translateX(-150px); }
  100% {
    transform: translateX(0); } }

@keyframes fromRight {
  0% {
    transform: translateX(100px); }
  100% {
    transform: translateX(0); } }

@keyframes fromUp {
  0% {
    transform: translateY(20px); }
  100% {
    transform: translateX(0); } }

.intro {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: linear-gradient(105deg, white 50%, #3df83d 50%); }
  .intro__img-main {
    display: flex;
    justify-content: center;
    align-items: center; }
    .intro__img-main .intro-img {
      width: 60%; }
    .intro__img-main .formLeft {
      animation-name: fromLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
  .intro__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white; }
    .intro__text .intro-h1 {
      color: black; }
    .intro__text .formRight {
      animation-name: fromRight;
      animation-duration: 1s;
      animation-timing-function: ease-out; }

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.about-img {
  display: flex;
  justify-content: center;
  align-items: center; }
  .about-img__working {
    width: 100%;
    display: block; }

.about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem; }
  .about-main__h1 {
    font-size: 3rem;
    text-align: center;
    background-image: linear-gradient(to right, #0cb80c, #2fec2f);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s; }
    .about-main__h1:hover {
      transform: skewY(2deg) skewX(10deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .about-main__p {
    font-size: 1.8rem; }
  .about-main__p::first-letter {
    font-size: 1.9rem; }
  .about-main .fromUp {
    animation-name: fromUp;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .about-main__experience {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; }
    .about-main__experience .expSub {
      font-size: 2rem;
      text-align: center;
      font-weight: bold; }
      .about-main__experience .expSub p {
        font-size: 1.6rem;
        color: #8a8a8a; }

.section-skill {
  padding: 2rem 2rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; }
  .section-skill h1 {
    width: fit-content;
    font-size: 3rem;
    background-image: linear-gradient(to right, #0cb80c, #2fec2f);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s; }
    .section-skill h1:hover {
      transform: skewY(2deg) skewX(10deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.skill-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; }
  .skill-grid__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0px 8px 15px -6px #747474;
    transition: all 0.3s;
    background-image: linear-gradient(0deg, transparent 75%, #2fec2f 35%); }
    .skill-grid__card:hover {
      transform: scale(1.05); }
    .skill-grid__card h1 {
      color: black;
      font-size: 2rem; }
    .skill-grid__card p {
      font-size: 1.6rem;
      color: #747474; }

.project {
  padding: 2rem 4rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .project__h1 {
    width: fit-content;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2.5rem;
    background-image: linear-gradient(to right, #0cb80c, #2fec2f);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s; }
    .project__h1:hover {
      transform: skewY(2deg) skewX(10deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .project__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .project__img-text {
    position: relative;
    overflow: hidden; }
  .project__text-hover {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 34, 0.6);
    opacity: 0;
    transition: all 0.3s;
    width: 100%;
    height: 100%; }
    .project__text-hover:hover {
      opacity: 1; }
  .project__img {
    width: 100%;
    height: 35rem;
    display: block;
    transition: all 0.3s; }
  .project__inside-h1 {
    font-size: 2rem;
    color: white; }
  .project__inside-p {
    font-size: 1.8rem;
    color: black; }
  .project__des {
    font-size: 1.6rem;
    width: 70%;
    text-align: center;
    color: #424242; }
