$color-dark: black;
$color-dark-green: rgb(12, 184, 12);
$color-dark-lime: rgb(47, 236, 47);
$color-gray: rgb(138, 138, 138);
// about part
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  &__working {
    width: 100%;
    display: block;
  }
}

.about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  &__h1 {
    font-size: 3rem;
    text-align: center;
    background-image: linear-gradient(
      to right,
      $color-dark-green,
      $color-dark-lime
    );
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s;

    &:hover {
      transform: skewY(2deg) skewX(10deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba($color-dark, 0.2);
    }
  }

  &__p {
    font-size: 1.8rem;
  }

  &__p::first-letter {
    font-size: 1.9rem;
  }

  .fromUp {
    animation-name: fromUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &__experience {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .expSub {
      font-size: 2rem;
      text-align: center;
      font-weight: bold;

      & p {
        font-size: 1.6rem;
        color: $color-gray;
      }
    }
  }
}
