// intro animation
@keyframes fromLeft {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fromUp {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateX(0);
  }
}
