* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: serif;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 86.37px);
}

/* Header part */
.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
